<!DOCTYPE html>
<html>
<head>
  <title>Magazyn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<body>
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<div class="nav-side-menu">
	    <div class="brand">ApiMag</div>
	    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
	        <div class="menu-list">
  
	            <ul id="menu-content" class="menu-content collapse out">
	                <li>
	                  <a href="#">
	                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
	                  </a>
	                </li>

	                <li  data-toggle="collapse" data-target="#products" class="collapsed">
	                  <a href="#"><i class="fa fa-gift fa-lg"></i> Przedmioty <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="products">
	                    <li><a href="#">Wszystkie</a></li>
	                    <li><a href="#">Dodaj</a></li>
	                </ul>


	                <li data-toggle="collapse" data-target="#service" class="collapsed">
	                  <a href="#"><i class="fa fa-globe fa-lg"></i> Lokalizacje <span class="arrow"></span></a>
	                </li>  
	                <ul class="sub-menu collapse" id="service">
	                  <li>New Service 1</li>
	                  <li>New Service 2</li>
	                  <li>New Service 3</li>
	                </ul>


	                <li data-toggle="collapse" data-target="#new" class="collapsed">
	                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="new">
	                  <li>New New 1</li>
	                  <li>New New 2</li>
	                  <li>New New 3</li>
	                </ul>

	                 <li>
	                  <a href="#">
	                  <i class="fa fa-users fa-lg"></i> Użytkownicy
	                  </a>
	                </li>
				
	                <li>
	                 <a href="#">
	                 <i class="fa fa-user fa-lg"></i> Profile
	                 </a>
	                 </li>
	            </ul>
	     </div>
	</div>

	<div class="all">
		<%= yield %>
	</div>
</body>
</html>
