<!DOCTYPE html>
<html>
<head>
  <title>Magazyn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<div class="nav-side-menu">
	    <div class="brand">Magazyn</div>
	    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
	        <div class="menu-list">
  
	            <ul id="menu-content" class="menu-content collapse out">
  					<% if current_user %>
					<li>
	                 <a> <i class="fa fa-dashboard fa-lg"></i><%= link_to "Dashboard", static_pages_dashboard_path %>
	                </li></a>
  					<% else %>
  					<li>
  	                  <a>
  	                  <i class="fa fa-dashboard fa-lg"></i><%= link_to "Dashboard", root_path %>
  	                  </a>
  	                </li>
					<% end %>
										
  					<% if current_user %>	
	                  <li  data-toggle="collapse" data-target="#products" class="collapsed">
	                    <a href="#"><i class="fa fa-gift fa-lg"></i> Przedmioty <span class="arrow"></span></a>
	                  </li>
	                    <ul class="sub-menu collapse" id="products">
  						  <li><%= link_to "Wszystkie", items_path %></li> 
  	                      <li><%= link_to "Nowe", new_item_path %></li>
       	                </ul>
  					<% else %>

					<% end %>

  					<% if current_user %>	
	                <li data-toggle="collapse" data-target="#service" class="collapsed">
	                  <a href="#"><i class="fa fa-globe fa-lg"></i> Lokalizacje <span class="arrow"></span></a>
	                </li>  
	                <ul class="sub-menu collapse" id="service">
	                  <li>Wszystkie</li>
	                  <li>Nowa</li>
	                </ul>
  					<% else %>

					<% end %>

  					<% if current_user %>	
	                <li data-toggle="collapse" data-target="#new" class="collapsed">
	                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="new">
	                  <li>New New 1</li>
	                  <li>New New 2</li>
	                  <li>New New 3</li>
	                </ul>
  					<% else %>

					<% end %>
					
	                <li data-toggle="collapse" data-target="#użytkownicy" class="collapsed">
	                  <a href="#"><i class="fa fa-user fa-lg"></i> Profil <span class="arrow"></span></a>
	                </li>
	                <ul class="sub-menu collapse" id="użytkownicy">
						<% if current_user %>
						<li><%= link_to "Ustawienia", edit_user_registration_path %></li> 
	                  <li><%= link_to "Wyloguj", destroy_user_session_path, :method => :delete %></li>
					  	<% else %>
  	                  <li><%= link_to "Zaloguj", new_user_session_path %></li>
  	                  <li><%= link_to "Rejestracja", new_user_registration_path %></li>
						<% end %>
	                </ul>
					
  					<% if current_user %>	
	                 <li>
	                  <a href="#">
	                  <i class="fa fa-users fa-lg"></i> Użytkownicy
	                  </a>
	                </li>
  					<% else %>

					<% end %>
	            </ul>
	     </div>
	</div>

	<div class="all">
	  <%= yield %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
	</div>
</body>
</html>
